<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="formsignup" method="post">
        <input type="email" name="" id="email" value="abx@fnk.com">
        <input type="password" name="" id="password" value="hudyg.com">
        <button type="submit">submit</button>
    </form>
    <h1 class="" id="cont"></h1>
</body>

<script src="/script/signup.js"></script>
</html>