<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>INCraftWorks</title>
</head>
<body>
    <header>
        <img src="./title-logo.png" alt="INCraftWorks" class="imgTitleLogo">
        <div class="nav">
            <span class="item1">Men</span>
            <span class="item2">Women</span>
            <span class="item3">Home</span>
            <span class="item4">Design</span>
            <button class="login">Login</button>
            <button class="signup">Sign Up</button>
        </div>
    </header>
    <content>
        <head_slide>
            <div>
                <span>
                    <div>
                        Explore 
                        Indian HandiCrafts and 
                        HandLooms.
                    </div>
                    <div>
                        Enjoy New Fashion and design with some Unique Impression and charm of India’s Handlooms and Handicrafts.
                    </div>
                    <div>
                        <button>Shop Now</button>
                    </div>
                </span>
                <span>
                    <img src="photos/landpageim.png">
                </span>
            </div>
            <div>
                <span>
                    <span><img src = "photos/create icon.png"></span>
                    <span><div>50M+ Products</div>Already baught by Thausands of Customers WorldWide.<div></div></span>
                </span>
                <span>
                    <span><img src = "photos/choose icon.png"></span>
                    <span><div>20+ =Crafts</div>Choose from Categories of India’s Best Craft styles as per Indian States.<div></div></span>
                </span>
                <span>
                    <span><img src = "photos/colour option icon.png"></span>
                    <span><div>6+ Customizations</div>Many Customizations to choose from to give your goods some of your personal Tint.<div></div></span>
                </span>
            </div>
        </head_slide>
        <craft_slide>
            <div>
                Craft of India
            </div>
            <div>
                <span>
                    <div>
                        Crafts of Odisha
                    </div>
                    <div>
                        <img src="photos/C_odisha.png">
                    </div>
                </span>
                <span>
                    <div>
                        Crafts of Rajasthan
                    </div>
                    <div>
                        <img src="photos/C_rajasthan.png">
                    </div>
                </span>
                <span>
                    <div>
                        Crafts of Gujarat
                    </div>
                    <div>
                        <img src="photos/C_Gujarat.png">
                    </div>
                </span>
                <span>
                    <div>
                        Crafts of Assam
                    </div>
                    <div>
                        <img src="photos/C_assam.png">
                    </div>
                </span>
                <span>
                    <div>
                        Crafts of South India
                    </div>
                    <div>
                        <img src="photos/C_southIndia.png">
                    </div>
                </span>
            </div>
        </craft_slide>
        <WDH>
            <span img src="photos/what_new.png">
                <div>
                    see more>
                </div>
            </span>
            <span img src="photos/Dressing.png">
                <div>
                    see more>
                </div>
            </span>
            <span img src="photos/HOme.png">
                <div>
                    see more>
                </div>
            </span>
        </WDH>
        <Trend_slide>
            <div>
                What's Trending
            </div>
            <div><span>
                <img src="photos/Bamboo logo.png">
                </span>
                <span>
                <img src="photos/bamboo headimg.png">
                </span>
            </div>
            <div>
                see more>
            </div>
        </Trend_slide>
    </content>
    <Ending>
        <div>
            ^Back to top^
        </div>
        <div>
            <span>
                <div>
                    Know more about us
                </div>
                <div>
                    <button>About us</button>
                </div>
                <div>
                    <button>Careers</button>
                </div>
                <div>
                    <button>Press Releases</button>
                </div>
            </span>
            <span>
                <div>
                    More Useful Links
                </div>
                <div>
                    <button>FAQ</button>
                </div>
                <div>
                    <button>T&C</button>
                </div>
                <div>
                    <button>Terms of uses</button>
                </div>
            </span>
            <span>
                <div>
                    Connect with us
                </div>
                <div>
                    <button>Facebook</button>
                </div>
                <div>
                    <button>Twitter</button>
                </div>
                <div>
                    <button>Instagram</button>
                </div>
            </span>
        </div>
        <div>
            Conditions of use & sale     Privacy Notice    Interest-based Ads 
        </div>
        <div>
            Incase of Any concern,
            <button>Contact Us.</button> 
        </div>
    </Ending>
</body>
</html>