<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>INCraftWorks</title>
</head>
<body>
    <header>
        <img src="./title-logo.png" alt="INCraftWorks" class="imgTitleLogo">
        <div class="nav">
            <span class="item1">Men</span>
            <span class="item2">Women</span>
            <span class="item3">Home</span>
            <span class="item4">Design</span>
            <button class="login">Login</button>
            <button class="signup">Sign Up</button>
        </div>
    </header>
</body>
</html>