<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>

<body>
    <!--    -->
    <form id="formsignup" onsubmit="f(Event)">
        <h4>mail page</h4>
        <input type="email" name="email" id="email" value="abc@xyz.com">
        <br />
        <input type="password" name="password" id="password" value="pass@xyz.com" >
        <button type="submit">Submit</button>
    </form>
    <h1 id="cont"></h1>
</body>

<script src="../static/signup.js"></script>

</html>