<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>INCraftWorks</title>
</head>

<body>
    <header>
        <img src="./title-logo.png" alt="INCraftWorks" class="imgTitleLogo">
        <div class="nav">
            <span class="item1">Men</span>
            <span class="item2">Women</span>
            <span class="item3">Home</span>
            <span class="item4">Design</span>
            <button><img src="./profile.png" class="imgnav"></button>
            <button><img src="./wishlist.png" class="imgnav"></button>
            <button><img src="./bag.png" class="imgnav"></button>
        </div>
    </header>
    <content>
        <div class="card">
            <span class="side">
                <div>
                    Bamboo Accessories
                </div>
                <div>
                    FOR YOU+
                </div>
                <div>
                    SEASONAL+
                </div>
                <div>
                    TREDNING+
                </div>
            </span>
            <span>
                <div class="filters">filters</div>
                <div class="container">
                    <div>
                        <span>
                            <div>
                                <img src="./p1.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 199(Rs. 399)
                                50% off
                            </div>
                        </span>
                        <span>
                            <div>
                                <img src="./p2.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 599(Rs. 1399)
                                40% off
                            </div>
                        </span>
                        <span>
                            <div>
                                <img src="./p3.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 699(Rs. 999)
                                30% off
                            </div>
                        </span>
                    </div>
                    <div>
                        <span>
                            <div>
                                <img src="./p4.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 399(Rs. 599)
                                33% off
                            </div>
                        </span>
                        <span>
                            <div>
                                <img src="./p5.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 99(Rs. 199)
                                50% off
                            </div>
                        </span>
                        <span>
                            <div>
                                <img src="./p6.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 249(Rs. 499)
                                50% off
                            </div>
                        </span>
                    </div>
                    <div>
                        <span>
                            <div>
                                <img src="./p7.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 99(Rs. 199)
                                50% off
                            </div>
                        </span>
                        <span>
                            <div>
                                <img src="./p8.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 49(Rs. 99)
                                50% off
                            </div>
                        </span>
                        <span>
                            <div>
                                <img src="./p9.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 299(Rs. 599)
                                28% off
                            </div>
                        </span>
                    </div>
                    <div>
                        <span>
                            <div>
                                <img src="./p10.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 799(Rs. 1899)
                                60% off
                            </div>
                        </span>
                        <span>
                            <div>
                                <img src="./p11.png" class="productdisplay">
                            </div>
                            <div>
                                Rs. 899(Rs. 1000)
                                20% off
                            </div>
                        </span>
                        <span>
                            <div>
                                <img src="./p12.png" class="productdisplay" >
                            </div>
                            <div>
                                Rs. 1099(Rs. 2099)
                                50% off
                            </div>
                        </span>
                    </div>
                </div>
            </span>
        </div>
    </content>
    <Ending>
        <div>
            ^Back to top^
        </div>
        <div>
            <span>
                <div>
                    Know more about us
                </div>
                <div>
                    <button>About us</button>
                </div>
                <div>
                    <button>Careers</button>
                </div>
                <div>
                    <button>Press Releases</button>
                </div>
            </span>
            <span>
                <div>
                    More Useful Links
                </div>
                <div>
                    <button>FAQ</button>
                </div>
                <div>
                    <button>T&C</button>
                </div>
                <div>
                    <button>Terms of uses</button>
                </div>
            </span>
            <span>
                <div>
                    Connect with us
                </div>
                <div>
                    <button>Facebook</button>
                </div>
                <div>
                    <button>Twitter</button>
                </div>
                <div>
                    <button>Instagram</button>
                </div>
            </span>
        </div>
        <div>
            Conditions of use & sale Privacy Notice Interest-based Ads
        </div>
        <div>
            Incase of Any concern,
            <button>Contact Us.</button>
        </div>
    </Ending>
    <title>Document</title>
    </head>

    <body>
    </body>

</html>