@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  */

:root {
    font-family: 'Inter', 'Josefin Sans' sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    box-sizing: border-box;
}

/* Page Top */


/* Rectangle 3 */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    padding-left: 5%;
    padding-right: 5%;
    /* width: 101%; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* position: absolute; */
    height: 108px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(193, 193, 193, 0.25);
    border-radius: 5px;
}


.nav> * {
    margin:0px 10px;
    height: max-content;
}
/* side */
.card {
    display: flex;
}
.side {
    width: 20%;
    background-color: aqua;
}

/*  */
.filters {
    right: 0%;
}

/* InCraftWorks.com */
.imgTitleLogo {
    height: 2rem;
    left: 100px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.productdisplay {
    width: 200px;
    height: 200px;
}

/* InCraftWorks.com */


font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;

color: #FAAF57;



/* Home */

position: absolute;
left: 36.44%;
right: 57.47%;
top: 45.37%;
bottom: 31.48%;



/* Home */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #D9D9D9;



/* Home */

position: absolute;
left: 58.4%;
right: 35.52%;
top: 45.37%;
bottom: 31.48%;



/* Home */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #D9D9D9;



/* Home */

position: absolute;
left: 51.32%;
right: 42.59%;
top: 45.37%;
bottom: 31.48%;



/* Home */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #D9D9D9;



/* Home */

position: absolute;
left: 42.53%;
right: 51.39%;
top: 45.37%;
bottom: 31.48%;



/* Home */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #D9D9D9;



/* Search bar */

position: absolute;
left: 65.41%;
right: 21.69%;
top: 39.81%;
bottom: 19.44%;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #F4F4F4;


/* Search for Crafts */

position: absolute;
left: 28.57%;
right: 4.25%;
top: 25%;
bottom: 31.82%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #9E9E9E;



/* Union */

position: absolute;
left: 5.71%;
right: 79.85%;
top: 18.75%;
bottom: 15.83%;

background: #B3B3B3;


/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
left: 5.71%;
right: 84.49%;
top: 18.75%;
bottom: 39.58%;

border: 5px solid #B3B3B3;


/* Line 1 */

position: absolute;
left: 13.67%;
right: 78.23%;
top: 51.04%;
bottom: 48.89%;

border: 7px solid #B3B3B3;
transform: matrix(0.71, 0.81, -0.61, 0.71, 0, 0);